<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,497},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{8,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>a_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,473},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{22,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>a_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>a_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,458},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>a_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,392},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>a_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,392},{56,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>a_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,458},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{44,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>a_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,473},{34,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{34,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,405},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>b_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,392},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{40,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,405},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,130},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,275},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,145},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,275},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,145},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>c_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{126,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>d_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,452},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{53,53}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,405},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{97,97}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{141,141}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,316},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,159},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>d_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wsparticle_p01.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:708992e834cff16af8832ed390c0e383$</string>
            <key>textureFileName</key>
            <string>wsparticle_p01.png</string>
        </dict>
    </dict>
</plist>
